@using ElateTableFramework
@using TestApplication.Models
@using ElateTableFramework.Configuration
@model IEnumerable<Auto>
@{
    ViewBag.Title = "Index";
}
<div id="qqq" class="col-md-12">
    @Html.ElateTable(Model, ViewData["options"] as TableConfiguration)
</div>
