@using ElateTableFramework
@using TestApplication.Models
@using ElateTableFramework.Configuration
@model IEnumerable<Auto>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>


<div class="col-md-12">
    @Html.ElateTable(Model, ViewData["options"] as TableConfiguration)
</div>